<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .mySlides {
        display: none;
    }
</style>
<body>

    <!-- Page content -->
    <div class="w3-content" style="max-width:2000px;margin-top:46px">

        <!-- SELLING COMPANY Section -->
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
            <h2 class="w3-wide">CONTACTS</h2>
            <p class="w3-opacity"><i>information</i></p>
            <p class="w3-justify"> Gmail:    EmbroaderyFER@gmail.com </p>
            <p class="w3-justify"> Phone:    098/95 23 671</p>
            <p class="w3-justify"> Country:  Croatia</p>
            <p class="w3-justify"> City:     Zagreb</p>
            <p class="w3-justify"> Adress:   Trščanska cesta 29</p>
            <p class="w3-justify"> ZipCode:  10 000</p>
        </div>

        <h1>Find us on Google maps!</h1>

        <div id="map" style="width:100%;height:500px"></div>

        <script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var mapOptions = {
    center: new google.maps.LatLng(51.5, -0.2),
    zoom: 5
  }
  var map = new google.maps.Map(mapCanvas, mapOptions);
}
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAd09nNovnvCMvScmLYoPtMm_ZjK0Akoo&callback=myMap"></script>


            <!-- Visual Studio Browser Link -->
            <script type="application/json" id="__browserLink_initializationData">
                {"appName":"Chrome","requestId":"dd8420e975b84211bfc48926bc521058"}
            </script>
            <script type="text/javascript" src="http://localhost:57972/92ec7b1e9f6b45d880f3def8ac954bae/browserLink" async="async"></script>
            <!-- End Browser Link -->

        </body>
    </html>



        <!-- End Page Content -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
        <i class="fa fa-facebook-official w3-hover-text-indigo"></i>
        <i class="fa fa-instagram w3-hover-text-purple"></i>
        <i class="fa fa-snapchat w3-hover-text-yellow"></i>
        <i class="fa fa-pinterest-p w3-hover-text-red"></i>
        <i class="fa fa-twitter w3-hover-text-light-blue"></i>
        <i class="fa fa-linkedin w3-hover-text-indigo"></i>
        <p class="w3-medium">Powered by <a>KompanijaFEROVCI</a></p>
    </footer>

    <script>
// Automatic Slideshow - change image every 2 seconds
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 2000);
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
    </script>

</body>
</html>
