@using System.Collections
@model ICollection<Product>


<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/home.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


    @{
        IEnumerator<Product> enumerator = Model.GetEnumerator();
        int i = 1;
        enumerator.MoveNext();
        var s = enumerator.Current;
        while (s != null)
        {
            <div class="section">
                <div class="container">
                    <div class="row">
                        @while (s != null)
                        {
                            <div class="col-md-3">
                                <img src="~/images/@s.ImagePath" class="center-block img-responsive img-rounded">
                                <h2>Kosulja</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisici elit,
                                    <br>sed eiusmod temporNIKOLICAabore et dolore magna aliqua.
                                    <br>Ut enim ad minim veniam, quis nostrud
                                </p>
                                <h3> PRICE: 110$ </h3>
                                <a asp-area="" asp-route-id="@s.ProductId" asp-controller="ShoppingCart" asp-action="AddToCart">Add to cart</a>
                            </div>
                            bool flag = !enumerator.MoveNext();
                            if (i++ % 4 == 0 || flag)
                            {
                                s = enumerator.Current;
                                break;
                            }
                            s = enumerator.Current;
                        }

                    </div>
                </div>
            </div>
        }
        
    }

</body>
</html>